.hello-world {
  background-color: #fafafa;
}

.hello-world__title {
  color: #37a000;
  font-size: 3rem;
}

.contract-container {
  background-color:white;
  padding:15px;
  text-align:center;
}

.token-input {
  width: 290px;
  height: 30px;
  text-align: center;
}

.contract-radio {
  width: 100px;
  margin: 0 auto;
}

.contract-radio1 {
  width: 161px;
  margin: 0 auto;
}

.margin-top-4 {
  margin-top: 4px;
}

.smaller-width {
  width: 290px;
  margin: 0 auto;
}